.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
*.xml
test1/.idea/modules/test1.iml
test1/.idea/modules/test1_main.iml
test1/.idea/modules/test1_test.iml
test1/.idea/modules/testSandbox.iml
test1/.idea/modules/testSandbox_main.iml
test1/.idea/modules/testSandbox_test.iml
testSandbox/.idea/modules/testSandbox.iml
testSandbox/.idea/modules/testSandbox_main.iml
testSandbox/.idea/modules/testSandbox_test.iml
testSandbox/out/production/classes/org/pft/Main.class
